 *{
    margin:0px;
    padding:0px;
 }
body {
   background-image: url(https://s3.envato.com/files/256760345/coffpl_nov-7.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

#card-link {
   margin-left: auto;
   opacity: 0.9;
   padding:40px;
    
}

#second-card-link {
   margin-left: auto;
   margin-top: auto;
   opacity: 0.9;
   padding:40px;
}

#third-card-link {
   margin-left: auto;
   margin-top: auto;
   opacity: 0.9;
   padding:40px;
    
}

.slideshow{
    max-width: 800px;
    max-height: 800px;
    margin-left: auto;
    margin-top: auto;
}

@media screen and (max-width:375) {
   .slideshow {
      margin:auto;
      width: 100%
   }
}

@media screen and (max-width:375) {
   #card{
      width: 100%;
   
   }
}